@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-bg: #fff;
    --color-bg-dark: #191820;
    --color-custom-light: #dcdcdc;
    --box-shadow-inset: inset -2px -2px 4px hsla(0, 0%, 100%, .1), inset 2px 2px 4px rgba(0, 0, 0, .5);
    --box-shadow-custom-1: -4px -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 12px rgba(185, 185, 185, .8);
    --box-shadow-custom-2: 0px 0px 20px rgba(185, 185, 185, .8);
    --box-shadow-custom-3: 0 0px 20px  rgba(185, 185, 185, .8);
    --box-shadow-custom-3-transparent: -8px -8px 12px hsla(0,0%,100%,0),8px 8px 12px transparent;
    --box-shadow-custom-inset: inset -2px -2px 4px hsla(0, 0%, 100%, .1), inset 2px 2px 4px rgba(0, 0, 0, .35);
    --box-shadow-custom-hover: var(--box-shadow-custom-3-transparent), var(--box-shadow-custom-inset);

    --animate-custom-bounceX: custom-bounceX 1s ease-in-out;
    --animate-custom-bounceX-alternative: custom-bounceX-alternative 1s ease-in-out;
    --animate-custom-bounceY: custom-bounceY 1s ease-in-out;
    --animate-custom-typing: typing 4.5s steps(35, end) forwards;

    @keyframes custom-bounceX {
      0% {
        transform: translateX(185%);
      }
      70% {
        transform: translateX(-25%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes custom-bounceX-alternative {
      0% {
        transform: translateX(10%);
      }
      70% {
        transform: translateX(-5%);
      }
      100% {
        transform: translateX(0);
      }
    }
    @keyframes custom-bounceY {
      0% {
        transform: translateY(-5%);
      }
      70% {
        transform: translateY(5%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
    background-color: #191820;
    --box-shadow-custom-1: -4px -4px 12px hsla(0, 0%, 100%, .05), 4px 4px 12px black;
    --box-shadow-custom-2: 0px 0px 20px rgba(0, 0, 0, .8);
    --box-shadow-custom-3: 0 0px 20px  rgba(200, 200, 200, .15);
    --box-shadow-custom-3-transparent: -4px -4px 12px hsla(0, 0%, 100%, 0), 4px 4px 12px transparent;
    --box-shadow-custom-inset: inset -22px -14px 14px 2px hsla(0, 0%, 100%, .015), inset 8px 4px 20px 12px rgba(0, 0, 0, .8);
    --box-shadow-custom-hover: var(--box-shadow-custom-3-transparent), var(--box-shadow-custom-inset);
}